
<!-- ******HEADER****** --> 
<div ng-controller="HeaderCtrl">
    <header id="header" class="header">  
        <div class="container">            
            <h1 class="logo pull-left">
                <a class="scrollto" href="/">
                    <span class="logo-title">nice</span>
                </a>
            </h1><!--//logo-->              
            <nav id="main-nav" class="main-nav navbar-right" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button><!--//nav-toggle-->
                </div><!--//navbar-header-->            
                <div class="navbar-collapse collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li ng-show="isSignedIn" class="nav-item"><a class="scrollto" href="/admin">Admin</a></li>
                        <li ng-show="isSignedIn" class="nav-item"><a class="scrollto" href="#" ng-click="signout()" >Signout</a></li>
                        <li ng-hide="isSignedIn" class="nav-item"><a class="scrollto" href="#" ng-click="signinModal()" >Sign In</a></li>
                        <li ng-hide="isSignedIn" class="nav-item"><a class="scrollto" href="#" ng-click="signupModal()" >Sign Up</a></li>
                        <li class="nav-item last">
                            <a class="scrollto" href="https://github.com/jbltx/generator-mean-stack" target="_blank">Docs</a>
                        </li>
                    </ul><!--//nav-->
                </div><!--//navabr-collapse-->
            </nav><!--//main-nav-->
        </div>
    </header><!--//header-->

    <script type="text/ng-template" id="signin.html">
        <div class="modal-header">
            <h3 class="modal-title">Authentication Panel</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" name="email" ng-model="user.email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" ng-model="user.password" placeholder="Password">
            </div>
            <p><input type="checkbox" name="remember" ng-model="user.remember"> Remember Me<p>
             <p style="color:red">{{signInMessage}}</p>
        </div>

        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="signin()">Sign In</button>
            <button class="btn btn-warning" ng-click="cancel()">Close</button>
        </div>
    </script>

     <script type="text/ng-template" id="signup.html">
        <div class="modal-header">
            <h3 class="modal-title">Authentication Panel</h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="fullname">Full Name</label>
                <input class="form-control" type="name" name="fullname" ng-model="user.fullname" placeholder="Full Name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input class="form-control" type="email" name="email" ng-model="user.email" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" ng-model="user.password" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="pass2">Confirm Password</label>
                <input class="form-control" type="password" name="pass2" ng-model="user.pass2" placeholder="Confirm Password">
            </div>
            <p style="color:red">{{signUpMessage}}</p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="signup()">Sign Up</button>
            <button class="btn btn-warning" ng-click="cancel()">Close</button>
        </div>
    </script>


</div>