<!DOCTYPE html>
<html class="no-js" ng-app="nice">
	<head>
		<base href="/">
		<meta charset="utf-8">
		<meta name="description" content="test application">
		<meta name="viewport" content="width=device-width">
		<title>nice | {{pageTitle}}</title>
		<!-- build:css(.) css/vendor.css -->
	    <!-- bower:css -->
	    <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.css" />
	    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	    <!-- endbower -->
	    <!-- endbuild -->
	    <!-- build:css(.tmp) css/styles.css -->
	    <link rel="stylesheet" href="css/styles.css">
	    <!-- endbuild -->
	</head>
	<body>
		<!--[if lt IE 7]>
	    	<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	    <![endif]-->

	    
	    <div>
		    <div ng-include src="'views/header.html'"></div>
		    <div ng-view=""></div>
		    <div ng-include src="'views/footer.html'"></div>
		</div>


	    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-XXXXX-X');
			ga('send', 'pageview');
		</script>

		<!-- build:js(.) js/oldieshim.js -->
		<!--[if lt IE 9]>
		<script src="bower_components/es5-shim/es5-shim.js"></script>
		<script src="bower_components/json3/lib/json3.js"></script>
		<![endif]-->
		<!-- endbuild -->

		<!-- build:js(.) js/vendor.js -->
		<!-- bower:js -->
		<script src="bower_components/jquery/dist/jquery.js"></script>
		<script src="bower_components/angular/angular.js"></script>
		<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
		<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
		<script src="bower_components/angular-route/angular-route.js"></script>
		<!-- endbower -->
		<!-- endbuild -->

		<!-- build:js({.tmp,app/frontend}) js/scripts.js -->
		<script src="js/app.js"></script>
		<script src="js/services/InterceptorService.js"></script>
		<script src="js/controllers/main.js"></script>
		<script src="js/controllers/admin.js"></script>
		<script src="js/controllers/auth.js"></script>
		<script src="js/controllers/404.js"></script>
		<!-- endbuild -->
	</body>
</html>
