{% extends 'layout.twig' %}

{% block content %}
<div class="row">
<div class="col-lg-6 col-md-offset-3">
    <form method="post">
      <h1>Signup</h1>
       <div class="form-group">
           <label for="name">Your name</label>
            <input type="text" class="form-control" name="name" placeholder="name">
        </div>
        
        <div class="form-group">
           <label for="name">Email</label>
            <input type="email" class="form-control" name="email" placeholder="email">
        </div>
        
        <div class="form-group">
           <label for="name">Your Password</label>
            <input type="password" class="form-control" name="password" placeholder="password">
        </div>
        
        <button type="button" class="btn btn-primary">Signup</button>
    </form>
</div>
</div>

{%endblock%}