{% extends 'layout.twig' %}

{% block content %}
<h1>Shop smart, Save Big ) </h1>
<p>Starting point to create something more unique</p>


<p>Signup to start Buying</p>
<h3>Start your search here </h3>



<p>Our prices are some of the best on the web</p>




<h3>Look dor Smart items ?  </h3>
<p>These will appear accross the site as you add to your cart</p>


<h3>Build a smart Cart    </h3>
<p>The more smart items you buy together, the more you save :)</p>


{%endblock%}